@charset "UTF-8";

@import url("./reset.css");

/* *{ outline: 1px dotted blue;} */
.background{position: fixed;z-index: -1;width: 100%;height: 100vh;background: linear-gradient(to bottom left, #f1f6fa, #ffffff);}
.wrapper{overflow: hidden;position: relative;margin: 0 auto;padding: 32px 30px 79px 31px;}
.wrapper_inner {position: relative;}
.wrapper_inner >div{position: relative;z-index: 1;display: inline-block;}
.circle {position: absolute;border-radius: 50%;opacity: 0.7;}
.cir1 {background-color: #cad0fa;width: 500px;height: 500px;top: -188px;left: -201px;}
.cir2 {background-color: #cbeeec;width: 400px;height: 400px;bottom: -220px;right: -136px;}
.left_wrap {width: 100%;}
.right_wrap{width: 100%;}
.main_title {font-size: 25px;font-size: 2.5rem;line-height: 31px;line-height: 3.1rem;font-weight: 700;padding: 7px 0 7px 0;display: inline-block;}
.left_wrap .main_title {margin-left: 14px;}
.right_wrap .main_title {margin-left: 12px;}
.img_wrap{position: relative;background-position: center center;background-repeat: no-repeat;background-size: cover;display: inline-block;}
.left_wrap .img_wrap {top: 10px;width: 31px;height: 26px;background-image: url("../img/monitor.png");}
.right_wrap .img_wrap {top: 9px;width: 29px;height: 29px;background-image: url("../img/title_img.png");}
.select_wrap {position: absolute;top: 50px;left: 0px; right: 0; display: flex; justify-content: space-between; height: 20px;}
.depth_wrap {position: relative;display: flex;align-items: center;margin-left: 20px;width: 33.33%;}
.depth_wrap:nth-child(1){margin-left: 0;}
.depth_wrap:first-child::before {display: none;}
.depth_wrap::before {display: none; content: "";position: absolute;width: 7px;height: 10px;background-image: url("../img/right_arrow.svg");background-repeat: no-repeat;background-position: center center;background-size: 20px;left: -23px;top: 18px;}
.sub_title {font-size: 15px;font-size: 1.5rem;line-height: 21px;line-height: 2.1rem;font-weight: 700;display: inline-block; white-space: nowrap;}
.select_box {position: relative;width: 70%;height: auto;cursor: pointer;box-sizing: border-box;margin-left: 13px;padding: 0 19px 0 7px;border-radius: 5px;border: 1px solid #ffffff;background-color: rgba(255, 255, 255, 0.7);}
.depth_wrap:first-child .select_box{margin-left: 16px;}
.select_box::after {content: "";position: absolute;width: 9px;border-top: 5px solid #000;border-right: 5px solid transparent;border-left: 5px solid transparent;top: 9px;right: 9px;}
.select_box.active::after{display: none;}
.select_box.active::before {content: "";position: absolute;width: 9px;border-bottom: 5px solid #000;border-right: 5px solid transparent;border-left: 5px solid transparent;top: 9px;right: 9px;}
.select_box .label {font-size: 15px;font-size: 1.5rem;line-height: 21px;line-height: 2.1rem;letter-spacing: 0.04em;color: #000;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;word-break: break-all;}
.select_box:hover {border: 1px solid #000;}
.select_box.active{border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000;background-color: #fff;}
.option_list {display: none;position: absolute;z-index: 10;width: calc(100% + 2px);top: calc(100% - 4px);left: -1px;border-right: 1px solid #000;border-left: 1px solid #000;border-bottom: 1px solid #000;background-color: rgb(255, 255, 255);cursor: pointer;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
.option_item{padding: 2px 19px 2px 7px;width: 100%;border-top: 1px solid #e0e0e0;font-size: 15px;font-size: 1.5rem;line-height: 21px;line-height: 2.1rem;letter-spacing: 0.04em;color: #000;}
.box_wrap {width: 100%;border: 1px solid #fff;background-color: rgba(255, 255, 255, 0.5);margin-top: 30px;box-sizing: border-box;min-height: 960px;border-radius: 20px;box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.07);padding: 29px 29px; margin-top: 40px;}
.box_container {width: 100%;position: relative;}
.box {position: relative;width: 100%;background-color: #fff;border-radius: 6px;box-shadow: 1px 1px 3px 0px rgba(90, 104, 118, 0.2);padding: 14px 10px 10px 10px;min-height: 120px;text-align: center;}
.box_title {position: relative;font-size: 18px;font-size: 1.8rem;line-height: 24px;line-height: 2.4rem;font-weight: 700;display: inline-block;margin-bottom: 13px;padding-left: 27px;}
.box_title::before {content: "";position: absolute;width: 18px;height: 18px;background-image: url("../img/setting.svg");background-position: center center;background-repeat: no-repeat;background-size: cover;left: 0;top: 2px;}
.product_list_container {display: flex;gap: 4px;flex-wrap: wrap;}
.full_list .product_list {width: 100%;}
.devide_list .product_list{width: 49.2%;}
.product_list {color: #fff;border-radius: 4px;padding: 15px 0 16px 2px;background-image: url("../img/key.svg");background-position: top 2px right -4px;background-repeat: no-repeat;background-size: 30px;}
.produce {background-color: rgba(91, 90, 216, 0.9);}
.electric {background-color: rgba(29, 189, 167, 0.9);}
.product_title {font-size: 18px;font-size: 1.8rem;line-height: 24px;line-height: 2.4rem;font-weight: 700;margin-bottom: 4px;padding-top: 1px;}
.devide_list .product_desc{padding-left: 0; flex-wrap: wrap;}
.devide_list .product_desc>div {display: block; width: 100%; text-align: center;}
.product_desc {display: flex;gap: 4px;padding-left: 8px;}
.product_desc > div {width: 50%;font-size: 14px;font-size: 1.4rem;line-height: 20px;line-height: 2rem;}
.product_date {text-align: right;}
.product_time {text-align: left;}

.cnt_wrap {width: 100%;display: flex;margin-bottom: 26px;}
.cnt_wrap > div {width: 33.33%;text-align: center;}
.cnt_wrap > div + div {border-left: 1px solid #dadceb;}
.wrap_title {font-size: 14px;font-size: 1.4rem;line-height: 20px;line-height: 2rem;font-weight: 600;margin-bottom: 2px;margin-top: 2px;}
.wrap_cnt {font-size: 23px;font-size: 2.3rem;line-height: 29px;line-height: 2.9rem;font-weight: 700;}

.manage_list {overflow: hidden;width: 100%;margin-bottom: 2px;box-shadow: 1px 2px 4px 0px rgba(90, 104, 118, 0.1);}
.manage_list:first-child {border-top-right-radius: 10px;border-top-left-radius: 10px;}
.manage_list:last-child {border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;margin-bottom: 0;}
.list_table {width: 100%;height: 100%;background-color: #fff;}
.list_table tr td:first-child {padding-left: 26px;font-size: 13px;font-size: 1.3rem;line-height: 19px;line-height: 1.9rem;padding-bottom: 4px;}
.list_table tr td:last-child {padding-left: 25px;font-size: 15px;font-size: 1.5rem;line-height: 21px;line-height: 2.1rem;padding-bottom: 3px;}
.list_table tr td.important {font-weight: 700;}
.list_table tr:first-child td:first-child {padding-top: 23px; padding-bottom: 5px;}
.list_table tr:first-child td:last-child {padding-top: 23px; padding-bottom: 1px;}
.list_table tr:last-child td:first-child {padding-bottom: 20px;}
.list_table tr:last-child td:last-child {padding-bottom: 19px;}
.list_table col:first-child {width: 33.33%;}
.produce_table col:first-child {background-color: rgba(199, 198, 249, 0.7);}
.electric_table col:first-child {background-color: rgba(162, 224, 220, 0.7);}

@media screen and (min-width: 768px) {
    .select_wrap {top: 45px;height: 45px;}
    .depth_wrap{width: 33.33%;}
    .select_box{width: 70%; padding: 11px 19px;}
    .select_box::after{top: 19px; right: 12px;}
    .select_box.active::before{top: 19px; right: 12px;}
    .option_item{padding: 5px 19px;}
    .box_wrap {margin-top: 60px;}
    .box_wrap .box {width: 49%; margin-bottom: 10px;}
    .masonry_sizer {width: 49%;}
    .gutter_sizer {width: 10px;}
    .cir1 {width: 700px; height: 700px;top: -248px;left: -251px;}
    .cir2 {width: 450px; height: 450px;bottom: -190px;right: -186px;}
}
@media screen and (min-width: 992px) {
    .wrapper {padding: 62px 30px 79px 31px;}
    .left_wrap {width: 63.7%; margin-right: 10px;}
    .right_wrap{width: 34.9%;}
    .select_wrap {justify-content: normal;}
    .select_box {width: 110px;}
    .depth_wrap {margin-left: 20px; width: auto;}
    .depth_wrap:nth-child(1){margin-left: 0;}
    .depth_wrap::before{display: block; left: -14px;}
    .box_wrap {padding: 29px 15px; margin-top: 60px;}
    .cir1 {width: 850px; height: 850px;top: -240px;left: -143px;}
    .cir2 {width: 600px; height: 600px;bottom: -210px;right: -116px;}
}
@media screen and (min-width: 1200px) {
    .wrapper {padding: 62px 30px 79px 31px;}
    .left_wrap {width: 67.1%; margin-right: 20px;}
    .right_wrap{width: 30.8%;}
    .box_wrap {padding: 29px 29px;}
    .box_wrap .box {width: 49%;}
    .box_wrap  .devide_list .product_list{width: 49.3%;}
}
@media screen and (min-width: 1400px) {
    .wrapper {padding: 62px 50px 79px 51px;}
    .box_wrap{margin-top: 30px;}
    .select_wrap {top: 1px;left: auto;}
    .depth_wrap {position: relative;display: flex;align-items: center;margin-left: 40px;}
    .depth_wrap:nth-child(2){margin-left: 42px;}
    .depth_wrap::before {left: -23px;}
}
@media screen and (min-width: 1600px) {
    .wrapper {max-width: none;}
    .left_wrap {width: 72%; margin-right: 40px;}
    .right_wrap{width: 24%;}
    .box_wrap .box {width: 32.43%;}
    .masonry_sizer {width: 32.43%;}
}
@media screen and (min-width: 1800px) {
    .wrapper {max-width: 1700px;margin: 0 auto;}
    .left_wrap {margin-right: 58px;}
    .box_wrap  .devide_list .product_list{width: 49.4%;}
    .box_wrap  .devide_list .product_desc{padding-left: 8px; flex-wrap: nowrap; }
    .box_wrap  .devide_list .product_desc>div {width: 50%;}
    .box_wrap  .devide_list .product_desc .product_date{text-align: right;}
    .box_wrap  .devide_list .product_desc .product_time{text-align: left;}
    /* .right_wrap {width: 420px;}
    .box_wrap .box {width: 33.33%; max-width: 382px;} */
}
@media screen and (min-width: 1920px) {
    .wrapper {position: relative;max-width: 1800px;margin: 0 auto;padding: 62px 40px 79px 41px;}
    .left_wrap {width: 1236px;margin-right: 58px;}
    .right_wrap {width: 420px;}
    .gutter_sizer {width: 15px;}
    .box_wrap .box {width: 33.33%; max-width: 382px; margin-bottom: 15px;}
    .masonry_sizer{width: 33.33%; max-width: 382px;}
    .cir1 {width: 1000px; height: 1000px;top: -437px;left: -191px;}
    .cir2 {width: 800px; height: 800px;top: 760px;right: 14px;}
}
@media screen and (min-width: 2200px) {
    .wrapper {max-width: 2000px;padding: 62px 80px 79px 81px;}
    .left_wrap {width: 73%; margin-right: 58px;}
    .right_wrap {width: 23%;}
    .box_wrap .box {width: 32.43%; max-width:none ;}
    .masonry_sizer {width: 32.43%;}
}
@media screen and (min-width: 2560px) {
    .wrapper {max-width: 2560px; padding: 62px 100px 79px 100px;}
    .left_wrap {width: 74.2%;}
    .box_wrap .box {width: 24.2%;}
    .masonry_sizer{width: 24.2%;}
}
